:root {
  --btn-primary-color: hsl(322, 100%, 66%);
  --btn-secondary-color: white;
  --dark-text: hsl(192, 100%, 9%);
  --gray-text: hsl(208, 11%, 55%);
}

/* Mobile */
body {
  font-family: "Open Sans", Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-size: 18px;
}

h1,
h2 {
  font-family: "Poppins", Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-weight: 600;
}

.hero .wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 55px 30px 0 30px;
  max-width: 700px;
  margin: 0 auto 180px auto;
}

.display,
.lead {
  width: 570px;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 55px;
  color: var(--dark-text);
}

.display {
  line-height: 3.5rem;
  font-size: 2.4rem;
}

.lead {
  line-height: 2.5rem;
  font-size: 1.5rem;
}

.hero {
  height: 100%;
  padding-bottom: 70px;
  background-image: url(../img/bg-hero-mobile.svg);
  background-size: 750px 1400px;
  background-repeat: no-repeat;
  background-color: rgba(0, 200, 255, 0.08);
  background-position: center -15px;
}

.img-mockup {
  display: block;
  width: 590px;
  height: 420px;
  margin-top: 110px;
  margin-left: auto;
  margin-right: auto;
}

.logo {
  width: 210px;
  height: 30px;
}

.btn {
  height: 80px;
  width: 400px;
  border: 0;
  border-radius: 40px;
  box-shadow: 2px 2px 15px 2px rgba(0, 0, 0, 0.1);
}

.btn-primary {
  background: var(--btn-primary-color);
  color: white;
  font-weight: 700;
  display: block;
  margin: 0 auto;
  font-size: 20px;
}

.btn-secondary {
  background: var(--btn-secondary-color);
  font-weight: 700;
}

.btn-large {
  width: 480px;
}

.btn-small {
  height: 50px;
  width: 190px;
}

/* Main content cards */
.content-card {
  box-sizing: border-box;
  padding-bottom: 20px;
  max-width: 670px;
  margin: 115px auto 80px auto;
  box-shadow: 2px 2px 25px 4px rgba(0, 0, 0, 0.1);
  border-radius: 25px;
}

.content-card-img {
  display: block;
  width: 80%;
  margin: 0 auto;
  padding-top: 110px;
  padding-bottom: 125px;
}

.content-card .display {
  margin: 10px auto 30px auto;
  font-size: 2rem;
}

.content-card:last-child{
  max-width: 700px;
  white-space: nowrap;
}

.content-card .lead {
  color: var(--gray-text);
}

.content-card .btn {
  margin-bottom: 80px;
}

.call-to-action .display {
  width: 600px;
  font-size: 36px;
  padding-top: 100px;
}

/* Footer */
footer {
  background: var(--dark-text);
  color: #fff;
}

footer a {
  text-decoration: none;
  color: #fff;
}

/* Footer Contact information */
.contact-info .logo-white {
  width: 330px;
  height: 50px;
  filter: brightness(0) invert(1);
}

.contact-info {
  max-width: 650px;
  margin-top: 100px;
  margin: 0 auto;
  padding-top: 280px;
}

.contact-info ul {
  list-style: none;
  padding: 0;
}

.contact-info li {
  margin-bottom: 60px;
  padding-left: 2rem;
}

.contact-info p, a {
  font-size: 1.5rem;
}

#contact-info-logo {
  margin-left: -2rem;
  padding-left: 0rem;
}

.contact-info i {
  margin-top: 5px;
  transform: scale(1.5);
}

/* Footer Navigation */
.contact-info nav {
  margin-top: 130px;
}

.contact-info nav li {
  margin-left: -2rem;
  margin-bottom: 50px;
  font-size: 1.5rem;
}

/* Social Icons */
.social-icons-container {
  display: flex;
  justify-content: center;
  margin-top: 80px;
}

.social-icon {
  margin: 0 10px;
  width: 50px;
  height: 50px;
  border: 2px solid white;
  border-radius: 50%;

  /* Center Font-Awesome icons both axis */
  display: flex;
  justify-content: center;
  align-items: center;
}

.social-icon i.fab {
  margin: 0;
}