:root {
  --btn-primary-color: hsl(322, 100%, 66%);
  --btn-secondary-color: white;
}

/* Mobile */
body {
  font-family: "Open Sans", Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-size: 18px;
}

h1,
h2 {
  font-family: "Poppins", Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-weight: 600;
}

.hero .wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 55px 30px 0 30px;
  margin-bottom: 180px;
}

.display,
.lead {
  width: 570px;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 55px;
}

.display {
  line-height: 3.5rem;
  font-size: 2.4rem;
}

.lead {
  line-height: 2.5rem;
  font-size: 1.5rem;
}

.hero {
  height: 100%;
  padding-bottom: 70px;

  background-image: url(../img/bg-hero-mobile.svg);
  background-size: 750px 1400px;
  background-repeat: no-repeat;
  background-color:rgba(0, 200, 255, 0.08);
  background-position: center -15px;
}

.img-mockup {
  display: block;
  width: 590px;
  height: 420px;
  margin-top: 110px;
  margin-left: auto;
  margin-right: auto;
}

.logo {
  width: 210px;
  height: 30px;
}

.btn {
  height: 80px;
  width: 400px;
  border: 0;
  border-radius: 40px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
}

.btn-primary {
  background: var(--btn-primary-color);
  color: white;
  font-weight: 700;
  display: block;
  margin: 0 auto;
  font-size: 20px;
}

.btn-secondary {
  background: var(--btn-secondary-color);
  font-weight: 700;
}

.btn-large {
  width: 480px;
}

.btn-small {
  height: 50px;
  width: 190px;
}